.hidden {
    display:none;
}

.bgimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(.3);
    object-fit: cover;
}

body {
    color: white;
}

h2, #greeting {
    font-family: 'Bebas Neue', cursive;
}

#greeting {
    margin-left: 10.15625%;
    font-size: 7rem;
    margin-bottom: 0px;
}

#quote {
    color: rgb(196, 196, 196);
    font-family: 'Luxurious Roman', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

#weather {
    color:rgb(196, 196, 196);
    font-family: 'Questrial', sans-serif;
}

#glass {
    width: 80vw;
    height: 580px;
    margin-left: 10.15625%;
    margin-right: 10.15625%;
    background: inherit;
    overflow: hidden;
    border-radius: 10px;
    position:absolute;

}

#glass:before{
    content: "";
    position: absolute;
    background: inherit;
    width: 90vw;
    height: 630px;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.3);
    filter: blur(15px);
}
#item-wrap {
    width: 80vw;
    height: 580px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
}

#album-container {
    width: 600px;
    height: 568px;
    padding: 40px;
}

#album-content {
    width: 600px;
    height: 528px;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 240px;
    height: 568px;
    background-color: grey;
    background-clip: content-box;

}

#clock-content {
    position: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7.5rem;
}

#todolist-container {
    width: 370px;
    height: 568px;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: pink;
    background-clip: content-box;
}

#todolist-content {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    width: 330px;
    height: 528px;
}

#todo-list {
    position: relative;
}

#todo-input {
    width: 300px;
}

#login-container {
    display: flex;
    justify-content:space-between;
}

#weather-container {
    display: flex;
    align-items: baseline;
}

#weather {
    font-size: 1.2rem;
}